<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>304152739241-ann15n694d5uli7rp0t6hrqvff6giq15.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.304152739241-ann15n694d5uli7rp0t6hrqvff6giq15</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>304152739241-43nis17kve51hsio4ba9ktaudbrjk9qm.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCV6SFZEQqauvOv9gEzejWbgTyv8QKWzv0</string>
	<key>GCM_SENDER_ID</key>
	<string>304152739241</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.orda</string>
	<key>PROJECT_ID</key>
	<string>orda-61252</string>
	<key>STORAGE_BUCKET</key>
	<string>orda-61252.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:304152739241:ios:2fe70a1b901cbc3b93d8b8</string>
</dict>
</plist>